.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.userInfo{
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
}

.userInfo > *{
  color: #ccc;
  margin-right: 10px;
}

.posts{
  margin: 10px auto;
  display: flex;
  width: fit-content;
}

.posts__right{
  padding: 20px;
  padding-bottom: 0px!important;
}

.posts__right > *{
  margin-bottom: 20px;
}